<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<servlet>
	<servlet-name> demo </servlet-name>
	<servlet-class> com.tot.servlet.SecondServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name> demo </servlet-name>
	<url-pattern> /secondurl </url-pattern>
	</servlet-mapping>
</web-app>